@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-search-cancel-button{
  display: none;
}

h1,h2,h3,h4,h5,h6,p,blockquote,figcaption{
  line-height: 1.2em;
  letter-spacing: -.03em;
}

:root {
  --body: #fff;
  --box: #fff;
  --btn: #fcfcfc;
  --intro-gradient: linear-gradient(to top, #ffffffac, var(--body)), linear-gradient(to right, #b1c2ff, #0c1cd0);
  --textarea: #e6e9ebdf;

  --title: #000;
  --paragraph: #515151;
  --btn-text: #000000;
  --textarea-text: #2e2e2e;

  --border: 1px solid #ebebeb;

  --element-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body: #000;
    --box: #060606;
    --btn: #121212;
    --intro-gradient: linear-gradient(to top, #000000ac, var(--body)), linear-gradient(to right, #b1c2ff, #0c1cd0);
    --textarea: #272727;

    --title: #e6e6e6;
    --paragraph: #b0b0b0;
    --btn-text: #ffffff;
    --textarea-text: #cfcfcf;

    --border: 1px solid #1b1b1b;

    --element-shadow: rgba(50, 50, 93, 0.25) 0px 0px 30px 0px inset;
  }
}

h1{
  font-weight: 600;
  font-size: clamp(2.25em, 3.5vw, 4em);
  margin-bottom: 14px;
  color: var(--title);
}
h2{
  font-size: clamp(1.25em, 3.5vw, 1.5em);
  font-weight: 600;
  color: var(--title);
}
h3{
  color: var(--paragraph);
  margin-bottom: 7px;
}
p{
  color: var(--paragraph);
}

body {
  background: var(--body);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  position: sticky;
  top: 0;
  height: 64px;
  background: var(--body);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  border-bottom: var(--border);

  .logo{
    p{
      font-size: 1.5em;
      font-weight: 600;
      letter-spacing: -.03em;
      color: var(--title);
    }
  }
}


main{
  height: 100%;
  padding: 0 14px;
}

.home-page{
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  border-inline: var(--border);
  
  >*{
    border-bottom: var(--border);
    border-top: var(--border);
  }


  .site-intro{
    padding: 56px 28px;
    background: var(--intro-gradient);
    border-top: none;
    
    .intro-text{
      margin-bottom: 28px;
      text-align: center;
    }
  
    .cta-btns{
      display: flex;
      justify-content: center;
      gap: 14px;

      button{
        border-radius: 100vw;
        padding: 14px 18px;

        p{
          font-weight: 600;
        }
      }
      button.about-cta{
        background: var(--btn);
        border: var(--border);
  
        p{
          color: var(--btn-text);
        }
      }
      button.get-started-cta{
        background: #00aaff;
    
        p{
          color: #fff;
        }
        svg{
          stroke: #fff;
        }
      }
    }
  }


  .features{
    display: flex;
    
    article{
      width: 100%;
      text-align: left;
      padding: 28px;
      transition: all .2s;

      .feature-imgs{
        margin: auto;
        height: 300px;
        display: grid;
        place-items: center;

        .img-wrapper{
          margin-inline: auto;

          svg{
            fill: #cbcbcb;
          }
        }
      }
    }
    article:nth-of-type(2){
      border-inline: var(--border);
    }
  }
}






form.search-bar{
  position: relative;

  label[for="search"]{
    position: absolute;
    top: 15px;
    left: 14px;
    pointer-events: none;
    transition: all .2s;
    background: var(--body);
    padding: 0 7px;
  }
  input{
    padding: 14px;
    border: var(--border);
    border-radius: 14px;
  }
  input:focus{
    outline: 2px solid #009be9ae;
  }
  input:focus ~ label[for="search"],  input:not(:empty) ~ label[for="search"]{
    top: -14px;
  }
}


.global-sidebar{
  padding: 14px;
  min-width: 350px;
  border-right: var(--border);
}

section.ai-section{
  width: 100%;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .ai-input{
    display: flex;
    gap: 14px;
    align-items: center;
    height: 52px;

    button{
      border-radius: 50%;
      height: 40px;
      aspect-ratio: 1;
      display: grid;
      place-items: center;
      background: var(--textarea);

      svg{
        stroke: var(--textarea-text);
      }
    }
    
    .ai-text-wrapper{
      background: var(--textarea);
      width: 100%;
      border-radius: 14px;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 14px;

      textarea{
        resize: none;
        background: none;
        font-size: 14px;
        color: var(--textarea-text);
        width: 100%;
      }
      textarea:focus{
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-page{
    .features{
      flex-direction: column;
  
      article:first-of-type, article:nth-of-type(2){
        border-bottom: var(--border);
      }
      article:nth-of-type(2){
        border-inline: none;
      }
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
