@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-search-cancel-button{
  display: none;
}

h1,h2,h3,h4,h5,h6,p,blockquote,figcaption{
  line-height: 1.2em;
  letter-spacing: -.02em;
}

:root {
  --primary-background: #fff;
  --secondary-background: #f1f1f1;
  --header: #ffffffe8;
  --card-translucent: #f1f1f1d7;
  --btn: #fcfcfc;
  --intro-gradient: linear-gradient(to bottom, #ffffff9f, var(--primary-background) 200px), linear-gradient(to right, #ff9393, #ffe493, #ededed, #00a2ff, #1a3cb7, #0c1cd0);
  --textarea: #e6e9ebdf;

  --primary-text: #000;
  --secondary-text: #515151;
  --btn-text: #000000;
  --textarea-text: #2e2e2e;

  --border: 1px solid #ebebeb;

  --element-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  --filter: blur(24px) saturate(1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background: #000;
    --secondary-background: #121212;
    --header: #000000e8;
    --card-translucent: #121212d7;
    --btn: #121212;
    --intro-gradient: linear-gradient(to bottom, #0000009f, var(--primary-background) 200px), linear-gradient(to right, #ff9393, #ffe493, #ededed, #00a2ff, #1a3cb7, #0c1cd0);
    --textarea: #272727;

    --primary-text: #e6e6e6;
    --secondary-text: #b0b0b0;
    --btn-text: #ffffff;
    --textarea-text: #cfcfcf;

    --border: 1px solid #1b1b1b;

    --element-shadow: rgba(50, 50, 93, 0.25) 0px 0px 30px 0px inset;
  }
}

h1{
  font-weight: 600;
  font-size: clamp(3em, 4.5vw, 4em);
  margin-bottom: 14px;
  color: var(--primary-text);
}
h2{
  font-size: 2.5em;
  font-weight: 600;
  color: var(--primary-text);
}
h3{
  font-size: 1.65em;
  font-weight: 600;
  color: var(--primary-text);
}
h4{
  color: var(--secondary-text);
  margin-bottom: 7px;
  font-weight: 500;
}
p{
  color: var(--secondary-text);
  font-weight: 500;
}

body {
  background: var(--primary-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  position: sticky;
  top: 0;
  height: 64px;
  background: var(--primary-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  background: var(--header);
  backdrop-filter: var(--filter);
  border-bottom: var(--border);

  .logo{
    p{
      font-size: 1.5em;
      font-weight: 600;
      letter-spacing: -.03em;
      color: var(--primary-text);
    }
  }
}


main{
  height: 100%;
}

.home-page{
  background: var(--intro-gradient);

  section{
    padding: 56px 14px;
    
    >*{
      margin-inline: auto;
      max-width: 1200px;
    }

    .section-intro{
      margin-bottom: 42px;
    }
  }


  .site-intro{
    
    .intro-text{
      margin-bottom: 28px;
      text-align: center;
    }
  
    .cta-btns{
      display: flex;
      justify-content: center;
      gap: 14px;

      button{
        border-radius: 100vw;
        padding: 14px 18px;

        p{
          font-weight: 600;
        }
      }
      button.about-cta{
        background: var(--btn);
        border: var(--border);
  
        p{
          color: var(--btn-text);
        }
      }
      button.get-started-cta{
        background: #00aaff;
    
        p{
          color: #fff;
        }
        svg{
          stroke: #fff;
        }
      }
    }
  }


  .services{
    
    ul.service-list{
      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-auto-flow: column;
      gap: 14px;
      overflow: scroll;
      scroll-snap-type: x mandatory;

      li.service-list-item{
        text-align: left;
        padding: 28px;
        border-radius: 30px;
        margin-right: 28px;
        width: 100%;
        min-width: 300px;
        scroll-snap-align: start;
  
        .service-imgs{
          margin: auto;
          height: 300px;
          display: grid;
          place-items: center;
  
          .img-wrapper{
            margin-inline: auto;
  
            svg{
              fill: #cbcbcb;
            }
          }
        }
        &:first-of-type{
          background: linear-gradient(to top, var(--card-translucent), var(--secondary-background)), linear-gradient(to right, #ff9393, #ffe493);
        }
        &:nth-of-type(2){
          background: linear-gradient(to top, var(--card-translucent), var(--secondary-background)), linear-gradient(to right, #ededed, #00a2ff);
        }
        &:last-of-type{
          background: linear-gradient(to top, var(--card-translucent), var(--secondary-background)), linear-gradient(to right, #1a3cb7, #0c1cd0);
        }
      }
    }
  }

  .guide{
    background: var(--secondary-background);
  }
}





form.search-bar{
  position: relative;

  label[for="search"]{
    position: absolute;
    top: 15px;
    left: 14px;
    pointer-events: none;
    transition: all .2s;
    background: var(--primary-background);
    padding: 0 7px;
  }
  input{
    padding: 14px;
    border: var(--border);
    border-radius: 14px;
  }
  input:focus{
    outline: 2px solid #009be9ae;
  }
  input:focus ~ label[for="search"],  input:not(:empty) ~ label[for="search"]{
    top: -14px;
  }
}


.global-sidebar{
  padding: 14px;
  min-width: 350px;
  border-right: var(--border);
}

section.ai-section{
  width: 100%;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .ai-input{
    display: flex;
    gap: 14px;
    align-items: center;
    height: 52px;

    button{
      border-radius: 50%;
      height: 40px;
      aspect-ratio: 1;
      display: grid;
      place-items: center;
      background: var(--textarea);

      svg{
        stroke: var(--textarea-text);
      }
    }
    
    .ai-text-wrapper{
      background: var(--textarea);
      width: 100%;
      border-radius: 14px;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 14px;

      textarea{
        resize: none;
        background: none;
        font-size: 14px;
        color: var(--textarea-text);
        width: 100%;
      }
      textarea:focus{
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  h2{
    font-size: 2em;
    font-weight: 600;
    color: var(--primary-text);
  }

  .home-page{
    .services{
      ul.service-list{
        // display: flex;
        // flex-direction: column;
      }
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
