@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
}

::-webkit-search-cancel-button{
  display: none;
}

h1,h2,h3,h4,h5,h6,p,blockquote,figcaption{
  line-height: 1.1em;
}

:root {
  //------BACKGROUNDS------//
  --primary: #fff;
  --secondary: #f1f1f1;
  --tertiary: #000000;
  --intro-gradient: linear-gradient(to bottom, #ffffff9f, var(--primary) 200px), linear-gradient(to right, #ff9393, #ffe493, #ededed, #00a2ff, #1a3cb7, #0c1cd0);
  --translucent: #ffffffd6;
  
  //------TEXT------//
  --primary-text: #000;
  --secondary-text: #515151;
  --tertiary-text: #fff;

  --primary-border: 1px solid #ebebeb;

  --element-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  --filter: blur(24px) saturate(1);
}

@media (prefers-color-scheme: dark) {
  :root {
      //------BACKGROUNDS------//
    --primary: #060606;
    --secondary: #121212;
    --tertiary: #ffffff;
    --intro-gradient: linear-gradient(to bottom, #0000009f, var(--primary) 200px), linear-gradient(to right, #ff9393, #ffe493, #ededed, #00a2ff, #1a3cb7, #0c1cd0);
    --translucent: #000000d6;

    //------TEXT------//
    --primary-text: #e6e6e6;
    --secondary-text: #b0b0b0;
    --tertiary-text: #000;

    --primary-border: 1px solid #1b1b1b;

    --element-shadow: rgba(39, 39, 39, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
}


//------TEXT------//
h1{
  font-size: clamp(3.5em, 4.5vw, 4em);
  color: var(--primary-text);
}
h2{
  font-size: 3em;
  font-weight: 600;
  color: var(--primary-text);
}
h3{
  font-size: 1.75em;
  font-weight: 600;
  color: var(--primary-text);
}
h4{
  color: var(--secondary-text);
  margin-bottom: 10px;
  font-weight: 500;
}
p{
  color: var(--secondary-text);
  margin: 1em 0;
  font-weight: 500;
}


//------CORE STYLING------/
body {
  background: var(--primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

li{
  list-style-type: none;
}


//------HEADER AND NAV------//
header{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  background: var(--translucent);
  backdrop-filter: var(--filter);
  border-bottom: var(--primary-border);
  z-index: 250;

  nav{
    display: flex;
    align-items: center;
    gap: 10px;

    ul.header-nav-list{
      display: flex;
      gap: 20px;

      a{
        &:hover{
          p{
            color: var(--primary-text);
          }
        }
      }
    }

    button.toggle-header-nav{
      border-radius: 50%;
      height: 30px;
      aspect-ratio: 1;
      display: none;
      place-items: center;

      svg{
        stroke: var(--secondary-text);
      }
    }
    .mobile-nav-menu{
      display: none;
    }
  }
}


//------CONTENT------//
section{
  padding: 75px calc(50vw - min(1080px,87.5vw)/2);
  display: flex;
  flex-direction: column;
  gap: 20px;

  .section-text{
    text-align: center;
  }
}

//------HOME------//
section.intro{
  background: var(--intro-gradient);
  
  .cta-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    button{
      border-radius: 10px;
      padding: 14px 20px;
      height: fit-content;

      p{
        margin: 0;
      }

      &.nutrition{
        background: var(--secondary);
      }
      &.signup{
        background: var(--tertiary);
        
        p{
          color: var(--tertiary-text);
        }
      }
    }
  }
}
section.what-we-offer{
  text-align: center;

  .offers{
    ul{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 10px;

      li{
        background: var(--secondary);
        width: 100%;
        aspect-ratio: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .img-container{
          height: 50%;
          width: 50%;
          position: relative;

          img{
            object-fit: contain;
          }
        }
      }
    }
  }
}

//------DASHBOARD------//
main.dashboard{
  display: grid;
  grid-template-columns: auto 1fr;
  flex: 3;
}
.dashboard-page{
  padding: 20px calc(50vw - min(1680px,87.5vw)/2);
  background: var(--intro-gradient);
}
.dashboard-nav-bar{
  padding: 20px;
  border-right: var(--primary-border);

  &[aria-expanded="false"] {
    width: 100px;
    transition: width .1s ease-in;
  }
  &[aria-expanded="true"] {
    width: 240px;
    transition: width .1s ease-out;
  }
}





@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



//MEDIA QUERIES

@media screen and (max-width: 768px) {

  header{
    nav{
      ul.header-nav-list{
        display: none;
      }

      button.toggle-header-nav{
        display: grid;
      }
      .mobile-nav-menu{
        position: absolute;
        top: 64px;
        width: 100%;
        left: 0;
        overflow: hidden;
        background: var(--primary);
        backdrop-filter: var(--filter);
        display: grid;
        place-items: flex-start center;

        >*{
          overflow: hidden;
        }

        ul{
          display: flex;
          flex-direction: column;
          gap: var(--gap);
          li{
            h3{
              text-align: center;
            }
          }
        }
      }
      .mobile-nav-menu[aria-hidden="false"]{
        height: calc(100vh - 64px);
        transition: all 0.7s cubic-bezier(0.19, 0.56, 0.53, 1.1);
        padding: 16px;

        >*{
          height: 240px;
          opacity: 1;
          transition: height 0.4s cubic-bezier(0.19, 0.56, 0.53, 1.1), opacity 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
      }
      .mobile-nav-menu[aria-hidden="true"]{
        height: 0;
        transition: all 0.7s cubic-bezier(0.19, 0.56, 0.53, 1.1);
        padding: 0 16px;

        >*{
          height: 0;
          opacity: 0;
          transition: height 0.4s cubic-bezier(0.19, 0.56, 0.53, 1.1), opacity 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
      }
    }
  }

  section{
    padding: 50px calc(50vw - min(1080px,87.5vw)/2);
  }

  section.what-we-offer{
    .offers{
      ul{
        display: flex;
        flex-direction: column;
      }
    }
  }
}

