@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body: #ffffff;
  --home-element: #fff;
  --button: #000;
  --textarea: #e6e9ebdf;
  --title: #000000;
  --textarea-text: #2e2e2e;
  --border: 1px solid #ebebeb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body: #000000;
    --home-element: #131313;
    --button: #272727;
    --textarea: #272727;
    --title: #e6e6e6;
    --textarea-text: #cfcfcf;
    --border: 1px solid #1b1b1b;
  }
}
body {
  background-color: var(--body);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 64px;
  -webkit-backdrop-filter: blur(24px) saturate(1);
          backdrop-filter: blur(24px) saturate(1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}
header .logo p {
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: -0.03em;
  color: var(--title);
}

.site-intro {
  padding: 100px 28px;
  text-align: center;
  background: linear-gradient(to bottom, #727272, var(--title));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.site-intro h1 {
  font-weight: 700;
  font-size: clamp(2em, 3.5vw, 4em);
  line-height: 1.1em;
  margin-bottom: 14px;
}
.site-intro p {
  font-size: clamp(1em, 3.5vw, 1.3em);
  font-weight: 600;
}

.feature-grid {
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 14px;
  height: 600px;
  max-width: 1000px;
  margin-inline: auto;
}
.feature-grid article {
  border: var(--border);
  border-radius: 8px;
  background: var(--home-element);
}
.feature-grid article:first-of-type {
  grid-area: 1/1/2/3;
}
.feature-grid article:last-of-type {
  grid-area: 1/3/3/4;
}

main {
  height: 100%;
}

.global-sidebar {
  padding: 14px;
  min-width: 350px;
  border-right: var(--border);
}
.global-sidebar button {
  border-radius: 12px;
  background: var(--button);
  display: flex;
  gap: 8px;
  padding: 12px 16px;
  align-items: center;
}
.global-sidebar button p {
  color: var(--btn-content);
  font-weight: 500;
}
.global-sidebar button svg, .global-sidebar button svg > * {
  stroke: var(--btn-content);
}

section.ai-section {
  width: 100%;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.ai-section .ai-input {
  display: flex;
  gap: 14px;
  align-items: center;
  height: 52px;
}
section.ai-section .ai-input button {
  border-radius: 50%;
  height: 40px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  background: var(--textarea);
}
section.ai-section .ai-input button svg {
  stroke: var(--textarea-text);
}
section.ai-section .ai-input .ai-text-wrapper {
  background: var(--textarea);
  width: 100%;
  border-radius: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 14px;
}
section.ai-section .ai-input .ai-text-wrapper textarea {
  resize: none;
  background: none;
  font-size: 14px;
  color: var(--textarea-text);
  width: 100%;
}
section.ai-section .ai-input .ai-text-wrapper textarea:focus {
  outline: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}/*# sourceMappingURL=globals.css.map */